//____________________Overriding bootstrap before loading_____________________
$navbar-height: 70px;


@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/reset-css/_reset.scss";
@import "../bower_components/slick-carousel/slick/slick.scss";
@import "../bower_components/slick-carousel/slick/slick-theme.scss";

//____________________Variables_____________________
$headerFont: 'Philosopher', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$footerHeight: 80px;




//____________________General styles_____________________
html, body, [ui-view]{
	width: 100%;
	height: 100%;
}
// when navbar fixed, makes sure page doesn't hide underneath it
body.sticky-navbar{
	padding-top: $navbar-height+2;
}

html{
	font-size: 16px;
}

body{
	background: #f5f5f5;
}

h1,h2,h3,h4,h5,h6{
	font-family: $headerFont;
}

p, div, button, a, ul, li{
	font-family: $bodyFont;
}

a{
	color: inherit;
}

p{
	line-height: 20px;
}

a:hover, a:focus, a:active{
	text-decoration: none;
	color: inherit;
}

li{
	list-style-type: none;
}

// Anything that involves ng-click, or ui-sref, make cursor

[ng-click]:hover, [ui-sref]:hover{
	cursor: pointer;
}

.weak-gray{
	color: #b0b0b0;
	font-style: italic;
}

div.everything-wrapper{
	min-height: 100%;
	position: relative;
	padding-bottom: $footerHeight;
}









//____________________Importing Partials, other files_____________________
@import "mixins/mediaQuery";
@import "mixins/assortedMixins";





//____________________Importing components_____________________
@import "components/topNavbar";
@import "components/mainNavbar";
@import "components/home";
@import "components/about";
@import "components/menu";
@import "components/gallery";
@import "components/contact";
@import "components/footer";












