<section id="about">
	<div class="container">
		<h1 class="main-header">About</h1>
		<div class="row ">
			<div class="col-md-4 who-we-are">
				<h3 class="about-section-header">Who Are We?</h3>
				<p class="intro-text">A unique standard that brings you the freshest ingredients, combined with the utmost professionalism and cleanliness. We like to think of ourselves as personal chefs rather than caterers.</p>

				<ul class="more-info">
					<li><strong>Our Style:</strong>  We are on the forefront of traditional meets fusion. Not diminishing from the ancient art of sushi. We keep our sauces at a minimal not overdoing it. Finding the perfect balance of flavor combinations.</li>
					<li><strong>Us as chefs:</strong> After owning and running restaurants individually and apart, we have realized our skills and styles are very similar, desired and favored among people everywhere. We have combined forces to bring you the most memorable sushi you will ever have!</li>
				</ul>

				<p>With over sixteen years of experience in Japanese cuisine and knowledge of different palettes blending traditional Japanese, Hawaiian, Vietnamese and resort towns throughout the west coast, we have combined forces to bring you HAI sushi catering. A unique standard that brings you the freshest ingredients, combined with the utmost professionalism and cleanliness. We like to think of ourselves as personal chefs rather than caterers. Not only do we create an exclusive menu specifically designed to meet your needs, we provide an on-the-spot sushi bar experience where we can be interactive with your guests and meet each individual’s requests. Our goal is to complement, execute, and exceed, the vision of our clients leaving them satisfied and craving more. HAI!</p>
			</div>
			
			<div class="col-md-4 why-choose-us">
				<h3 class="about-section-header">Why Choose Us?</h3>
				<p><strong>Our Specialty:</strong> On location sushi bar service. Think of it as being at a Fine-Dining sushi restaurant liberated from the 4 walls of a commercial restaurant setting.</p>

				<p>We prepare on–site at your residence or venue of choice. We want you and your guests to be involved in the creative act, to experience the art of sushi from beginning to end. Most sushi catering offered is made at a restaurant and delivered. We offer that as an option but our <strong>specialty is on-site</strong>.</p>

				<img class="img img-responsive about-sage" src="img/aboutsage.jpg" alt="About Sage">
			</div>

			<div class="col-md-4 pricing">
				<h3 class="about-section-header">Pricing & Event Style</h3>
				<p class="intro-text">Depending on your budget and pallet there are a few main factors that determine the cost of your event.</p>

				<p>Costs are determined by:</p>

				<ul>
					<li><strong>Menu Selections:</strong> Cost will be determined by what menu selections you make. (Some ingredients are more expensive and seasonally difficult to source.)</li>
					<li><strong>Guest Count:</strong> Typically the cost per person ranges from $60 to $100 depending on the menu selections and service.</li>
					<li><strong>Service Style:</strong> Service Style: We offer a few different catering options depending on what kind of event you are trying to have.</li>
				</ul>

				<ul>
					<li>DINNER PARTIES. The dinner party service is typically a full-course meal with an on-the-spot sushi bar. Offering appetizers, Salads, Rolls. Sashimi, Nigiri, etc. (This option works best with group sizes between 10- 35 people.)
					</li>
					<li>OYSTER BARS. This is a great option for larger groups such as tastings or cater-to-cater. Fresh oyster selection served in the half shell on ice with your choice of innovative in-house sauces (ponzu, negi, cocktail sauce, fresh wasabi, etc.)
					</li>
					<li>TASTINGS This service is designed for events where a full-coarse meal is not desired. (Winery’s, Tastings, passed apps etc.)
					</li>
					<li>TO-GO PLATTERS Ready-made platters delivered to your event.
					</li>
					<li>CATER-TO-CATER This service allows other catering companies to add more variety to their event. (Weddings, graduations, holiday parties, office events)
					</li>
				</ul>

				<p>Depending on your menu selection and budget, we are more than ready to customize a menu to fit your group’s needs.
				</p>

				<p><strong>Our Specialty</strong> OMAKASE: leave it up to us. We prepare you a symphony of sashimi, nigiri, and specialty rolls using the freshest ingredients.</p>

				<p><strong>We have a minimum of $275.00 per event, plus the cost of food depending on your menu selections.
				</strong></p>

				<p><strong>There is a nonrefundable deposit of 25% (of total cost) required four days prior to the event.
				</strong></p>
			</div>

		</div>

	</div>
</section>