<section id="about">
	<div class="container">
		<h1 class="main-header">About</h1>
		<div class="row ">
			<div class="col-md-4 who-we-are">
				<h3 class="about-section-header">Who Are We?</h3>
				<p class="intro-text">A unique standard that brings you the freshest ingredients, combined with the utmost professionalism and cleanliness. We like to think of ourselves as personal chefs rather than caterers.</p>

				<ul class="more-info">
					<li><strong>Our Style:</strong>  We are on the forefront of traditional meets fusion. Not diminishing from the ancient art of sushi. We keep our sauces at a minimal not overdoing it. Finding the perfect balance of flavor combinations.</li>
					<li><strong>Us as chefs:</strong> After owning and running restaurants individually and apart, we have realized our skills and styles are very similar, desired and favored among people everywhere. We have combined forces to bring you the most memorable sushi you will ever have!</li>
				</ul>

				<p>With over sixteen years of experience in Japanese cuisine and knowledge of different palettes blending traditional Japanese, Hawaiian, Vietnamese and resort towns throughout the west coast, we have combined forces to bring you HAI sushi catering. A unique standard that brings you the freshest ingredients, combined with the utmost professionalism and cleanliness. We like to think of ourselves as personal chefs rather than caterers. Not only do we create an exclusive menu specifically designed to meet your needs, we provide an on-the-spot sushi bar experience where we can be interactive with your guests and meet each individual’s requests. Our goal is to complement, execute, and exceed, the vision of our clients leaving them satisfied and craving more. HAI!</p>
			</div>
			
			<div class="col-md-4 why-choose-us">
				<h3 class="about-section-header">Why Choose Us?</h3>
				<p class="intro-text">OUR SPECIALTY: On location sushi bar service. Think of it as being at a Fine-Dining sushi restaurant liberated from the 4 walls of a commercial restaurant setting.</p>

				<p><strong>Our Specialty:</strong> On location sushi bar service. Think of it as being at a Fine-Dining sushi restaurant liberated from the 4 walls of a commercial restaurant setting.</p>

				<p>We prepare on–site at your residence or venue of choice. We want you and your guests to be involved in the creative act, to experience the art of sushi from beginning to end. Most sushi catering offered is made at a restaurant and delivered. We offer that as an option but our <strong>specialty is on-site</strong>.</p>

				<img class="img img-responsive" src="img/aboutsage.jpg" alt="About Sage">
			</div>

			<div class="col-md-4 pricing">
				<h3 class="about-section-header">Pricing</h3>
				<p class="intro-text">Depending on your budget and pallet there are a few main factors that determine the cost of your event.</p>

				<p>Your catering costs are determined by</p>

				<ul>
					<li><strong>Menu Selections:</strong> (volume) How many different Appetizers, Salads, Rolls. Sashimi/Nigiri will we be preparing and serving? (item cost) Specific ingredients, individual costs…</li>
					<li><strong>Guest Count:</strong> the “Per Head” count typically refers to adults, with the count of children, and children’s meals priced separately. (minimum of 4 guests)</li>
					<li><strong>Service Style:</strong> On the spot sushi action station, ready platters delivered to your event, or buffet style.</li>
				</ul>

				<p>Depending on your menu selection we have set up a few different pricing options to accommodate your budget.</p>

				<ul>
					<li>Option 1: $ mixture of assorted rolls.</li>
					<li>Option 2: $$ rolls, nigiri, and sashimi.</li>
					<li>Option 3: $$$ <strong>*our specialty* OMAKASE:</strong> leave it up to us. We prepare you a symphony of sashimi, nigiri, and specialty rolls. Option 3 only available on site.</li>
				</ul>

				<p><strong>We have a minimum cost of $275.00 for each event, plus the cost of food depending on your menu selections.</strong></p>

				<p><strong>There is a nonrefundable deposit of $150.00 required prior to the event.</strong></p>
			</div>

		</div>

	</div>
</section>