<div id="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>There are no limits. With our Sashimi and Nigiri we are capable going full traditional, or slightly fusion. Combining simple yet elegant flavors to enhance an already perfect product. We are on the forefront of traditional meets fusion. Not diminishing from the ancient art of sushi. We keep our sauces at a minimal not overdoing it. Our objective is finding the perfect balance of flavor combinations.</p>
			</div>
		</div>

		<hr>

		<h4>Sashimi/Nigiri</h4>
		
		<!-- first menu block, sashimi -->
		<div class="row sashimi">
			<div class="col-sm-4 col-xs-6 menu-block">
				<ul>
					<li><i>*</i>Chefs choice/custom Sashimi platters (ask us)</li>
					<li><i>*</i>Crudo/Carpaccio style flights (ask us)</li>
					<li><i>*</i>Nigiri flights</li>
					<li><i>*</i>Hokaido scallop</li>
					<li><i>*</i>Kumomoto Oyster</li>
					<li><i>*</i>Toro</li>
					<li><i>*</i>Uni</li>
					<li><i>*</i>Albalone</li>
				</ul>
			</div>

			<div class="col-sm-4 col-xs-6 menu-block">
				<ul>
					<li><i>*</i>Aji</li>
					<li>Kani (crab)</li>
					<li>Saba (mackerel)</li>
					<li>Ebi (shrimp)</li>
					<li>Uzura (quail egg)</li>
					<li>Tako (octopus)</li>
					<li>Hirame (halibut)</li>
					<li>Vegetable</li>
				</ul>
			</div>

			<div class="col-sm-4 col-xs-6 menu-block">
				<li>Inari (tofu pocket)</li>
				<li>Maguro (bleufin tuna)</li>
				<li>Bincho (albacore)</li>
				<li>Saké (salmon)</li>
				<li>Unagi (freshwater eel)</li>
				<li>Anago (saltwater eel)</li>
				<li>Kanpachi (yellowtail)</li>
				<li>Tobiko (flying fish roe); red, black, yuzu</li>
			</div>
		</div><!-- sashimi -->

		<p class="price-explanation">(<i class="center">*</i> = more expensive, depends on season)</p>
		<hr>

		<h4>Speciality/Traditional Rolls</h4>

		<p class="roll-explanation">We have literally hundreds of different specialty rolls and sauces created and refined throughout the years. Here are just a few rolls that might appeal to you.</p>


		<div class="rolls">
			<div class="col-md-6">
				<div class="menu-item">
					<div class="item-name">Buddha Role</div>
					<div class="item-description">Spicy Maguro, cucumber, kaiware, topped with avocado seared Albacore, roasted habanero sweet soy reduction, shoga, and cilantro.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Sweet &amp; Spicy</div>
					<div class="item-description">Spicy albacore, mango, sprouts, topped with unagi, eel sauce and green onions.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Hai Torched</div>
					<div class="item-description">Snow crab, avocado, cucumber topped with scallop dynamite, tobiko and eel sauce.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Vegi Deluxe</div>
					<div class="item-description">Grilled asparagus cucumber, arugula topped with avocado, micro greens and nori goma with sesame ginger vinaigrette.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="menu-item">
					<div class="item-name">Mazama</div>
					<div class="item-description">Unagi, avocado, cucumber, topped with Maguro thinly sliced jalepeno , mazama sauce, fried shallots, and kuro goma.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Blizzard</div>
					<div class="item-description">yellowtail tartar, yama gobo, kaiware topped with Hirame, lemon zest habanero chive oil and togarashi.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Rainbow</div>
					<div class="item-description">Snow Crab, cucumber, avocado, topped with assorted sashimi, avocado.</div>
				</div>
				<div class="menu-item">
					<div class="item-name">Caterpillar</div>
					<div class="item-description">Broiled freshwater eel, avocado, cucumber, topped with avocado sweet soy reduction.</div>
				</div>
			</div>
		</div>

















	</div>


























</div>