<div id="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>There are no limits. With our Sashimi and Nigiri we are capable going full traditional, or slightly fusion. Combining simple yet elegant flavors to enhance an already perfect product. We are on the forefront of traditional meets fusion. Not diminishing from the ancient art of sushi. We keep our sauces at a minimal not overdoing it. Our objective is finding the perfect balance of flavor combinations.</p>
			</div>
		</div>

		<hr>

		<h4>SASHIMI/NIGIRI</h4>
		
		<div class="row">
			<div class="col-sm-4">
				<ul>
					<li>*Chefs choice/custom Sashimi platters (ask us)</li>
					<li>*Crudo/Carpaccio style flights (ask us)</li>
					<li>*Nigiri flights</li>
					<li>Maguro (bleufin tuna)</li>
					<li>Bincho (albacore)</li>
					<li>Saké (salmon)</li>
					<li>Unagi (freshwater eel)</li>
					<li>Anago (saltwater eel)</li>
					<li>Kanpachi (yellowtail)</li>
					<li>Tobiko (flying fish roe); red, black, yuzu</li>
					<li>*Hokaido scallop</li>
					<li>*Kumomoto Oyster</li>
					<li>*Toro</li>
					<li>*Uni</li>
					<li>*Albalone</li>
					<li>*Aji</li>
				</ul>
			</div>

			<div class="col-sm-4">
				<ul>
					<li>Kani (crab)</li>
					<li>Saba (mackerel)</li>
					<li>Ebi (shrimp)</li>
					<li>Uzura (quail egg)</li>
					<li>Tako (octopus)</li>
					<li>Hirame (halibut)</li>
					<li>Vegetable</li>
					<li>Inari (tofu pocket)</li>
				</ul>
			</div>
			




		</div>














	</div>


























</div>