<div id="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>There are no limits. With our Sashimi and Nigiri we are capable going full traditional, or slightly fusion. Combining simple yet elegant flavors to enhance an already perfect product. We are on the forefront of traditional meets fusion. Not diminishing from the ancient art of sushi. We keep our sauces at a minimal not overdoing it. Our objective is finding the perfect balance of flavor combinations.</p>
			</div>
		</div>

		<hr>

		<h4>Sashimi/Nigiri</h4>
		
		<!-- first menu block, sashimi -->
		<div class="row sashimi">
			<div class="col-sm-4 col-xs-6 menu-block">
				<ul>
					<li><i>*</i>Chefs choice/custom Sashimi platters (ask us)</li>
					<li><i>*</i>Crudo/Carpaccio style flights (ask us)</li>
					<li><i>*</i>Nigiri flights</li>
					<li><i>*</i>Hokaido scallop</li>
					<li><i>*</i>Kumomoto Oyster</li>
					<li><i>*</i>Toro</li>
					<li><i>*</i>Uni</li>
					<li><i>*</i>Albalone</li>
				</ul>
			</div>

			<div class="col-sm-4 col-xs-6 menu-block">
				<ul>
					<li><i>*</i>Aji</li>
					<li>Kani (crab)</li>
					<li>Saba (mackerel)</li>
					<li>Ebi (shrimp)</li>
					<li>Uzura (quail egg)</li>
					<li>Tako (octopus)</li>
					<li>Hirame (halibut)</li>
					<li>Vegetable</li>
				</ul>
			</div>
 
			<div class="col-sm-4 col-xs-6 menu-block">
				<li>Inari (tofu pocket)</li>
				<li>Maguro (bleufin tuna)</li>
				<li>Bincho (albacore)</li>
				<li>Saké (salmon)</li>
				<li>Unagi (freshwater eel)</li>
				<li>Anago (saltwater eel)</li>
				<li>Kanpachi (yellowtail)</li>
				<li>Tobiko (flying fish roe); red, black, yuzu</li>
			</div>
		</div><!-- sashimi -->

		<p class="price-explanation">(<i class="center">*</i> = more expensive, depends on season)</p>
		<hr>

		<h4>Speciality/Traditional Rolls</h4>

		<p>We have literally hundreds of different specialty rolls and sauces created and refined throughout the years. Here are just a few rolls that might appeal to you.</p>


		<div class="rolls">
			<div class="item-names">
				<li>Buddha Roll</li>
				<li>Sweet &amp; Spicy</li>
				<li>Hai Torched</li>
				<li>Vegi Deluxe</li>
			</div>

			<div class="item-descriptions">
				<li>Spicy Maguro, cucumber, kaiware, topped with avocado seared Albacore, roasted habanero sweet soy reduction, shoga, and cilantro.</li>
				<li>Spicy albacore, mango, sprouts, topped with unagi, eel sauce and green onions.</li>
				<li>Snow crab, avocado, cucumber topped with scallop dynamite, tobiko and eel sauce.</li>
				<li>Grilled asparagus cucumber, arugula topped with avocado, micro greens and nori goma with sesame ginger vinaigrette.</li>
			</div>

			

				<li>Mazama Roll</li>
				<li>Blizzard</li>
				<li>Rainbow Roll</li>
				<li>Caterpillar Roll</li>




		</div>











	</div>


























</div>