*.css
*.css.map
.sass-cache/
bower_components
*.rtf
*.pptx

compiled/



#____server stuff____
node_modules/
scripts/

Secret.js


# ignores both .sublime-workspace and .sublime-project files
*.sublime*
*.log
