section#about{
	margin-top: 40px;
	padding: 30px 0;
	@include headings {
		text-align: center;
	}

	h1.main-header{
		margin-bottom: 20px;
	}

	h3.about-section-header{
		margin-bottom: 15px;
	}

	p, li{
		margin-bottom: 15px;
	}










}