section#contact{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	@include headings {
		text-align: center;
	}

	h1{
		margin-bottom: 15px;
	}

	p{
		font-size: 15px;
		margin-bottom: 10px;
	}


















}