section#gallery{
	padding-top: 50px;
	@include headings {
		text-align: center;
	}

	div.image-container{
		width: 100%;
	}

	h1.main-header{
		margin-bottom: 30px;
	}




	div.images{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	img.gallery-photo{
		height: 300px;
		width: auto;
		margin-right: 20px;
		@include desktopOrLess {
			height: 220px;
		}
		@include phoneOrLess {
			margin-right: 10px;
			height: 190px;
		}
		@include smallPhone {
			height: 140px;
		}
		margin-bottom: 30px;
		border: 1px solid #111;
	}

	div.instagram-container{
		padding-top: 50px;
		overflow-x: scroll;
		// for some reason need to explicity state this
		overflow-y: hidden;
		white-space: nowrap;
		img{
			display: inline;
			height: 300px;
			margin: 0 30px;
		}
	}















	p.see-more{
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
		a{
			text-decoration: underline;
		}
	}





















}