//main navbar, right below the top contact one
#main-navbar{
	img.logo{
		height: $navbar-height+2;
		width: auto;
		position: relative;
		bottom: 26px;
	}

	ul.navbar-nav{
		text-transform: uppercase;
		font-size: 16px;
		font-family: $headerFont;
	}


















}