section#menu{
	padding: 30px 0 100px;

	li{
		margin-bottom: 10px;
	}

	@include headings {
		text-align: center;
		margin-bottom: 15px;
	}

	i{
		font-style: normal;
		color: #bbb;
		&.center{
			position: relative;
			top: 2px;
		}
	}

	div.menu-block{
		@include smallPhone {
			width: 100%;
		}
	}

	p.price-explanation{
		margin-top: 10px;
		text-align: center;
	}
	p{
		// text-align: center;
		&.roll-explanation{
			@include tabletOrMore {
				width: 70%;
				margin: auto;
			}
			margin-bottom: 20px;
		}
	}


	//_______Rolls section, where I do custom number of columns_____________________

div.rolls{
	padding-top: 20px;

	div.menu-item{
		float: left;
		// height: 70px;
		margin-bottom: 20px;
	}

	div.item-name{
		padding-right: 0;
		text-align: right;
		height: 100%;
		float: left;
		width: 30%;
		padding-right: 25px;
		// posit/ion: absolute;
		left: 0;
		&:after{
			content: ":";
		}
	}
	div.item-description{
		position: relative;
		bottom: 3px;
		line-height: 20px;
		float: right;
		width: 70%;
		&:after{
			content: "."
		}
	}




	// div.item-name{
	// 	height: 100%;
	// 	background: orange;
	// 	// display: inline-block;
	// 	width: 30%;
	// 	&:after{
	// 		content: ":";
	// 	}
	// }
	// div.item-description{
	// 	background: lightgreen;
	// 	height: 100%;
	// 	width: 70%;
	// 	// display: inline-block;
	// }


}















}